/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* Button Close Members */

.btn--close-members { text-decoration: none; display: inline-block; width: 14px; height: 14px; position: relative; transition: opacity .4s; }
.btn--close-members span { display: inline-block; width: 16px; height: 3px; background: #000; transform: rotate(-45deg); position: absolute; top: 6px; left: -1px; }
.btn--close-members span:nth-child(2) { transform: rotate(45deg); }

@media(min-width: 1025px) {
	.btn--close-members:hover { opacity: .6; }
}
