<footer class="footer">
	<div class="shell">
		<div class="footer__inner">
			<a href="privacy-policy.html">Privacy Policy</a>

			<a href="mailto:contact@cyrillic.ventures">contact@cyrillic.ventures</a>
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->

	<div class="footer__bar">
		<p>We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</p>

		<ul class="list--actions">
			<li>
				<a href="#" class="btn btn--grey btn--аccept-cookies">Аccept cookies</a>
			</li>

			<li>
				<a href="privacy-policy.html" class="link--main">Pirvaci Policy</a>
			</li>
		</ul><!-- /.list-/-actions -->

		<a href="#" class="btn-close-bar">
			<span></span>

			<span></span>
		</a>
	</div><!-- /.footer__bar -->
</footer><!-- /.footer -->
